@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a:active {
  color: firebrick !important;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #333;
  color: white;
  width: 100%;
  height: 100%;
}

input {
  border-radius: 5px;
}

/* HEADER */

.main-header {
  width: 100%;
  background: dodgerblue;
}
.main-header__nav {
  display: flex;
  justify-content: space-between;
}
.main-header__list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
  width: 80%;
  margin: auto;
  padding: 1rem;
  font-size: 1.3rem;
  justify-content: center;
}
.main-header__loginList {
  display: flex;
  width: 20%;
  list-style-type: none;
  margin: auto;
  padding: 1rem;
  font-size: 1.3rem;
  justify-content: center;
  background-color: black;
  gap: 2rem;
}
.main-header__listItem a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.main-header__listItem a:hover {
  text-decoration: underline;
}

.main-header__logoutForm button {
  font-size: inherit;
  font-weight: 700;
  background: none;
  color: whitesmoke;
  border: none;
}
.main-header__logoutForm button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-header__logoutForm button:active {
  color: firebrick;
}

/* MAIN */

.main__section {
  margin: 1rem auto 0 auto;
  width: 85vw;
}

.main__p {
  font-size: 1.2rem;
  margin: 1rem;
}

.main__form {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.main__form__input {
  border: none;
  height: 2rem;
  padding: 0 1em;
}

.main__form__btn {
  padding: 1em;
  border: none;
  background-color: whitesmoke;
}

.main__form__btn:hover {
  background: dodgerblue;
  color: white;
  cursor: pointer;
}

/* ITEM DETAILS */

.itemDetails__card {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.itemDetails__img {
  flex-basis: 40%;
}
.itemDetails__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.itemDetails__info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.itemDetails__btn {
  flex-basis: 20%;
  white-space: nowrap;
  margin-top: 1rem;
  align-self: start;
}

.itemDetails__btn button {
  padding: 0.5em 1em;
  border: none;
}
.itemDetails__btn button:hover {
  background: dodgerblue;
  color: white;
  cursor: pointer;
}

/* ITEM */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: row;
  justify-content: space-between;
  gap: 2rem;
  grid-auto-rows: 400px;
  width: 90%;
  height: 100%;
  margin: auto;
}

.item__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.item__info {
  align-self: center;
  text-align: center;
  height: 20%;
}
.item__image {
  width: 100%;
  height: 70%;
}
.item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item__btn {
  padding: 0.5em 1em;
  border: none;
  width: 100%;
  height: 100%;
}
.item__btn:hover {
  background: dodgerblue;
  color: white;
  cursor: pointer;
}
.item__btnCon {
  display: flex;
  gap: 0.5rem;
  height: 10%;
  align-self: center;
}

/* CART PRODUCTS */

.cartItem__grid {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
.cartItem__card {
  padding: 1rem;
  width: 100%;
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-height: 300px;
}
.cartItem__img {
  flex-basis: 30%;
}
.cartItem__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartItem__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 50%;
}
.cartItem__btnCon {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cartItem__btn button {
  padding: 0.5em 1em;
  border: none;
  width: 100%;
  align-self: start;
}
.cartItem__btn button:hover {
  background: dodgerblue;
  color: white;
  cursor: pointer;
}
.cart__totalPrice {
  background: green;
  padding: 0.5rem;
}
.cart__totalPriceCon {
  margin: 1.5rem 0;
  text-align: right;
}
.cart__orderBtn {
  padding: 0.5em 1em;
  border: none;
  margin: 1rem auto;
  display: block;
}
.cart__orderBtn:hover {
  background: dodgerblue;
  color: white;
  cursor: pointer;
}

/* ORDERS */

.order__flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.order__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: whitesmoke;
  color: black;
  padding: 0.5em;
}
.order__id {
  font-weight: 700;
}
.order__totalPrice {
  font-weight: 700;
}

/* UTILITY CLASSES */

.offPage {
  position: absolute;
  left: -10000px;
}

.active {
  color: #333 !important;
}

.activeLogin {
  color: royalblue !important;
}

.errorInput {
  border: 2px red solid !important;
}

/* USER MESSAGES */

.user-message {
  padding: 1rem;
  border: 2px solid black;
  background: rgb(146, 139, 139);
  width: 30%;
  margin: 1rem auto;
  text-align: center;
  border-radius: 5px;
}
.user-message--error {
  border: 2px solid firebrick;
  background: rgb(208, 120, 120);
  color: firebrick;
}

/* RESET PASSWORD */

.resetPassword {
  text-align: center;
  margin-top: 1rem;
}
.resetPassword a {
  text-decoration: underline;
  color: whitesmoke;
}

/* PAGINATION */

.pagination {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}
.pagination__a {
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid dodgerblue;
  padding: 0.5rem 1rem;
}
.pagination__a:hover {
  background-color: dodgerblue;
}
.activePage {
  background-color: dodgerblue;
}

/* MEDIA QUERRIES */

@media screen and (min-width: 1200px) {
  .cartItem__img {
    flex-basis: 20%;
  }
  .cartItem__info {
    flex-basis: 60%;
  }
}
