<%- include("../includes/start.ejs") %>
<body>
  <%- include("../includes/navigation.ejs") %>
  <main class="main">
    <section class="main__section">
      <h1>Something Went Wrong !</h1>
      <p class="main__p">We'll try to fix this issue as soon as possible. Sorry for the inconvenience.</p>
    </section>
  </main>
</body>
<%- include("../includes/end.ejs") %>