<%- include("../includes/start.ejs") %>
<body>
  <%- include("../includes/navigation.ejs") %>
  <main class="main">
    <section class="main__section">
      <p class="main__p">No page with that url was found</p>
    </section>
  </main>
</body>
<%- include("../includes/end.ejs") %>
